@page
@model ErrorModel
@{
  ViewData["Title"] = "Error";
}

<h1 class="text-danger">💩 Error!</h1>
<h3 class="text-danger">An error occurred while processing your request.</h3>

@if (Model.ShowRequestId)
{
  <p>
  <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}
