@page
@{
  ViewData["Title"] = "Home page";
}

<div class="p-3 m-3 shadow-lg">
  <h2 class="bg-info text-white p-3 rounded shadow">
    <img src="/img/icon.svg" height="80px" />
    .NET Demo Web App
  </h2>

  <div class="lead mt-4">
    This is a modern .NET web app using the new minimal hosting model, and Razor pages. It has been designed with cloud
    demos & containers in mind, and for ease of deployment into Azure or Kubernetes. A simple app to use
    anytime you want something lightweight to run & deploy.

    <br /><br />
    Basic features:
    <ul class="my-4 small">
      <li>System status / information view</li>
      <li>Support for user sign-in with Azure AD and Graph API</li>
      <li>App Insights support</li>
      <li>Geolocated weather info (from DarkSky API)</li>
      <li>Tools for triggering errors and high CPU load</li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md d-flex flex-column align-items-center pb-4">
      <img src="img/octocat.png" height="80px" />
      <a target="_blank" href="https://github.com/benc-uk/dotnet-demoapp" class="btn btn-success btn-lg mt-2">
        Github Project
      </a>
    </div>
    <div class="col-md d-flex flex-column align-items-center pb-4">
      <img src="img/container.png" height="80px" />
      <a target="_blank" href="https://github.com/benc-uk/dotnet-demoapp/pkgs/container/dotnet-demoapp"
        class="btn btn-success btn-lg mt-2">
        Container Images
      </a>
    </div>
    <div class="col-md d-flex flex-column align-items-center pb-4">
      <img src="img/get-started.svg" height="80px" />
      <a target="_blank" href="https://docs.microsoft.com/dotnet/azure/" class="btn btn-success btn-lg mt-2">
        .NET in Azure
      </a>
    </div>

    <div class="pt-5 h5">
      <a class="btn btn-sm btn-primary"
        href="https://github.com/benc-uk/nodejs-demoapp/wiki/Containerized-Demo-Web-Apps" target="_blank">
        🚀 Demo Apps Collection
      </a>
      &mdash; For more demo apps in different languages &amp; frameworks
    </div>
  </div>
</div>
