/DevOps-Project-41/app/.idea
/DevOps-Project-41/app/src/AiApi/.idea
/DevOps-Project-41/app/src/AiProvider/bin
/DevOps-Project-41/app/src/AiProvider/obj
/DevOps-Project-41/app/src/AiWorker/bin
/DevOps-Project-41/app/src/AiWorker/obj